In [6]:
c=0
c=5/2
type(c)

float

In [7]:
name,number,per='anu',950,60.7
type(name)
type(number)
type(per)
print(type(name),type(number),type(per))

<class 'str'> <class 'int'> <class 'float'>

In [13]:
a,b=10,20
a,b=b,a
print(a,b)

20 10

In [1]:
5 is 5

True

In [2]:
5 is 3

False

In [3]:
5 is not 10

True

In [4]:
5 in [1,2,3,4]

False

In [5]:
5 not in [1,2,3,4]

True

In [8]:
for x in range(1,5,3):
    print(x)

1
4

In [10]:
n=1
#for i in range(1,6):
    #print(i)
while(n<=6):
    print(n)
    n+=1

1
2
3
4
5
6

In [16]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

In [18]:
print(1,2,sep=',')
print(3,4,end='*')

1,2
3 4*

In [19]:
n=input("enter n value:")
print(n)

enter n value:1234.4567
1234.4567

In [22]:
1+int("1111")

1112

In [27]:

n=int(input("enter n value"))
sum=0
count=0.
for i in range(0,n+1):
    sum=sum+i
    count+=1
    avg=sum/count
print(avg)

enter n value10
5.0

In [6]:
n=input()
count=0
for i in n.split(' '):
    #print(i)
    count+=1
print(count)

12 2 3 4
4

In [8]:
n=input()
len(n) #with spaces

1 2 3 4 5 6

11

In [6]:
n=input()
#count=0
s=0
for i in n.split(','):
    #print(i)
    s+=int(i)
    #count+=int(i)
print(s)

1,2
3

In [5]:
n= input()
l=[]
for i in n:
    n.split()
    l.append(int(i))
l

1234

[1, 2, 3, 4]

In [7]:
#using map
n= input()
l=n.split(",")
int_val=list(map(int,l))
sum(int_val)

1,2,3

6

In [2]:
n= input()
l=n.split()
val=list(map(int,l))
print(min(val))
print(max(val))

1 2
[1, 2]

In [7]:
n=input()
c=n.split('+')
for i in c:
    print(i)
print(min(i))
#print(max(i))

1+2+3+4
1
2
3
4
4

In [16]:
t=int(input())
for l in range(t):
    n= input()
    l=n.split("+")
    val=list(map(int,l))
    print(min(val))
    print(max(val))

3
1+2+4+5+60+78
1
78
1+2+4+5+60+231
1
231
1+2+4+5+60+2+876
1
876