In [2]:
s=input()
rev=s[::-1]
print(rev)
for i in rev:
    print(i)

123
321
3
2
1

In [9]:
s=input()
l=s.split()
#li=list(map(str,l))
print(l[0][0],'.',l[1])

archana elisala
a . elisala

In [19]:
def name(s):
    for i in l:
        print(l[0][0],'. ',l[1],sep='')
        return
s=input()
l=s.split()
name(l)

archana elisala
a. elisala

In [22]:
a=input()
b=input()
c=a+b
print(c)
type(c)

1
1
11

str

In [24]:
s="Hello Archana"
len(s)
s[0:4]

'Hell'

In [46]:
a="Archana"
print(a.upper())
print(a.lower())
print(a)

ARCHANA
archana
Archana

In [1]:
def prime(n):
    c=0
    for i in range(1,n+1):
        if n%i==0:
            c+=1
    if c==2:
    
        print(n,"prime")
    else:
        print(n,"not prime")
t= int(input())
for i in range(t):
    n=int(input())
    prime(n)

2
5
5 prime
4
4 not prime

3
5
5 prime
6
6 not prime
7
7 prime

In [8]:
def palindromeNum(num):
    s=num[::-1]
    if num==s:
        print(num,"is palindrome")
    else:
        print(num,"is not palindrome")
t=int(input())
for i in range(0,t):
    num=input()   
    palindromeNum(num)

2
121
121 is palindrome
123
123 is not palindrome

In [ ]:
def factorial(n):
    count=1
    fact=1
    s=0
    for i in range(1,n+1):
        fact=fact*i
        count+=1
    print(fact)
test=int(input())
for i in range(t):
    n=int(input())
    factorial(n)

####

In [4]:
main='python'
main1='P'
s=main1.lower()
print(main.startswith(s))

True
True

In [2]:
a="archana elisala"
print(a.endswith('salg'))

False

In [12]:
a=input()
if a.isdigit():
    print("success",int(a))
else:
    print("wrong data")

123456asdfgh
wrong data

In [3]:
s="archana elisala"
res=s.split()
print(res)
res[1]

['archana', 'elisala']

'elisala'

In [ ]:
s="   archana "
a=s.strip()
print(len(s),len(a),a)

In [4]:
#title method
s="welcome to python"
print(s.title())

Welcome To Python

In [6]:
a="anu"
s=a.replace(a,'archana')
print(s)

archana

In [4]:
a=['a','r','c','h','a','n','a']
s=("".join(a))
print(s)

archana

In [11]:
a="archana"
a1=[]
for i in a:
    #s=a.split()
    s=a1.append(i)
print(a1)

['a', 'r', 'c', 'h', 'a', 'n', 'a']

In [2]:
n=int(input())
for i in range(1,11):
    s=i*n
    print(n,"x",i,"=",s)

4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [19]:
def primeNumberRange(lb,ub):
    s=0
    cnt=0
    for i in range(lb,ub+1):
        if i>1:
            for j in range(2,i):
                if(i%j)==0:
                    break
            else:
                #print(i)
                s=s+i
                cnt+=1
                avg=s//cnt
    #print(s)
    print(avg)

lb=int(input())
ub=int(input())
primeNumberRange(lb,ub)

10
15
12

In [13]:
li=[1,3,54,6789,7654,54,5,34]
li[::-1]

[34, 5, 54, 7654, 6789, 54, 3, 1]

In [16]:
li.sort()
li

[1, 3, 5, 34, 54, 54, 6789, 7654]

In [24]:
l1=[12,12,4,54,54,54]
del l1

In [26]:
li

[1, 3, 5, 34, 54, 54, 6789, 7654]

In [27]:
cli2=li.copy()
print(cli2,li)

[1, 3, 5, 34, 54, 54, 6789, 7654] [1, 3, 5, 34, 54, 54, 6789, 7654]

In [28]:
li.extend(cli2)
li

[1, 3, 5, 34, 54, 54, 6789, 7654, 1, 3, 5, 34, 54, 54, 6789, 7654]

In [62]:
l1=[1,2,3,4,6,4,2]
l2=[4,5,6,7,4,3,2]
l3=['a','n','u']
#print(l1,l2)
l1.extend(l2)
l1.append(l3)
l1
#l1[7][0]

[1, 2, 3, 4, 6, 4, 2, 4, 5, 6, 7, 4, 3, 2, ['a', 'n', 'u']]

In [5]:
l1=[1,2,3,4,6,4,2]
l=[8,9,10]
l=l[::-1]
l
for i in l:
    l1.insert(0,i)
l1

[8, 9, 10, 1, 2, 3, 4, 6, 4, 2]

In [6]:
len(l1)

10

In [ ]:
def sumOfList(n):
    li=list(map(int,n.split()))
    a=sum(li)
    #print(a)
    avg=a//len(li)
    print(avg)
t=int(input())
for i in range(t):
    n=input()
    sumOfList(n)

2
12 3
7

###

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']