In [14]:
s="A P S S D C"
a=s.lower()
s1=a.capitalize()
s2=s1.replace(" ","")
print(s2)

Apssdc

In [3]:
s="Archana"
start,end=list(map(int,input().split()))
s1=s[start-1:end][::-1]
s2=s[end:]
print(s1+s2)

1 3
crAhana

In [87]:
s=input().split()
lenths=[]
for word in s:
    lenths.append(len(word))
max_lenth=max(lenths)
#print(max_lenth)
for word in s:
    if max_lenth==len(word):
        print(word)

hi hello world
hello
world

In [96]:
s=input().split()
s1=[]
count=0
for word in s:
    s1.append(word)
for word in s1:
    s2='r'
    if word.startswith(s2):
        print(word)
        count+=1
if count==0:
    print('-1')

anu ramu
ramu

In [63]:
#6 problem
s=input()
s1=s.swapcase()
s2=s1[-1].lower()
s3=s1[:-1]
print(s3+s2)

helloworld
HELLOWORLd

In [76]:
# not ends with vowels
s=input().split() #
vowels=('a','e','i','o','u')
for word in s:
    if word.endswith(vowels):
        pass
    else:
        print(word)

rcd srd srinu
rcd
srd

In [27]:
#5. Print all the words which word contains duplicate characters
#ramu akash balu

data=input().split()
count=0
for name in data:
    for i in name:
        if name.count(i)>1:
            print(name)
            break

ramu akash balu
akash

In [21]:
#7. Print the number of words in a given string (here word starting character contains UPPER letter)
# HelloWorld
s=input()
count=0
for i in s:
    if i.isupper():
        count+=1
print(count)

hii jgdh gf
0

In [1]:
#8. Print the number of digits, alphabets and any other 
#www.way2sms.com
#DIGITS 1
#ALPHABETS  12
#OTHER 2

data=input()
digit=0
letter=0
spl=0
for i in data:
    if i.isdigit():
        digit+=1
    elif i.isalpha():
        letter+=1
    else:
        spl+=1
print(digit)
print(letter)
print(spl)

www.way2sms.com
1
12
2

In [9]:
li=[i for x in range(10)]
li

['m', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm', 'm']

In [10]:
li=[i for i in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
li=[i*i for i in range(10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
li=[i*2 for i in range(10)]
li

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
li=[i*5 for i in range(10)]
li

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [15]:
li=[i**3 for i in range(10)]
li

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [30]:
li=[i for i in range(2,10,2)]
li

[2, 4, 6, 8]

In [35]:
li=[i for i in range(1,10,2+1)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
n=int(input())
li=[print(n,',',i,',',(n*i)) for i in range(1,10+1)]

5
5 , 1 , 5
5 , 2 , 10
5 , 3 , 15
5 , 4 , 20
5 , 5 , 25
5 , 6 , 30
5 , 7 , 35
5 , 8 , 40
5 , 9 , 45
5 , 10 , 50

In [1]:
s=input()
li=[i.lower() for i in s]
print(li)

anu
['a', 'n', 'u']

In [15]:
s=input()
li=[i.isalpha() for i in s]
print(s)

s2
s2