In [3]:
n1=int(input())
n2=int(input())
n3=int(input())
if n1>n2 and n1>n3:
    print(n1)
elif n2>n1 and n2>n3:
    print(n2)
elif n3>n1 and n3>n2:
    print(n3)

1234
43234
132
43234

In [5]:
n=int(input())
if (n%400==0 and n%100!=0) or n%4==0:
    print("leap")
break
else:
    print("not in a leap")

2019
not in a leap

In [8]:
n=int(input())
if 1000%n==0:
    print(n,"multiple")
else:
    print(n,"not multible")

233
233 not multible

In [16]:
n=int(input())
s1=987
if (n)==(s1):
    print(n,"=",s1)
else:
    print(n,"!=",s1)

987
987 = 987

TypeError: object of type 'int' has no len()

In [20]:
for i in "string":
    if i=="i":
        continue
    print(i)

s
t
r
n
g

In [22]:
n=input()
if n==n[::-1]:
    print("pla")
else:
    print("not")

srs
pla

In [ ]:
def sr(s,s1,s2,s3):
    

    if s>s1 and s>s2 and s>s3:
        print(s)
    elif s1>s and s1>s2 and s1>s3:
        print(s1)
    elif s2>s and s2>s1 and s2>s2:
        print(s2)
    elif s3>s and s3>s1 and s3>s2:
        print(s3)
n=int(input())
for i in range(0,n):
    s=int(input())
    s1=int(input())
    s2=int(input())
    s3=int(input())
    sr(s,s1,s2,s3)

In [32]:
def s(lb,ub):
    s=0
    for i in range(lb,ub+1):
        #print(i,end=" ")
        s+=i
    print(s)
lb,ub=map(int,input().split())
s(lb,ub)

1 10
55

In [29]:
s=int(input())
sum=0
c=1
while c<s+1:
    sum=sum+c
    #print(c,end=" ")
    
    c+=1
print(sum)

10
55

In [10]:
counter = 1
while counter <= 10:
    print(counter, end = " ")
    counter = counter + 1

1 2 3 4 5 6 7 8 9 10

In [28]:
s=input()#" 1 2 4 4 "
print(len(s))

1 3 4
6

In [44]:
lb,ub=map(int,input().split())
su=0
for i in range(lb,ub+1):
    su+=i
print(su)

1 10
55

In [26]:
n="Sinivas Reddy"
s=n.split()
print(s[0][0],s[1],sep=". ")

S. Reddy

In [47]:
data=input()
values=data.split()
int_value=list(map(int,values))
sum(int_value)

1 12

13

In [4]:
n="123"
s=n[::-1]
for i in s:
    print(i)

3
2
1

In [5]:
sri=map(int,input().split())
su=0
c=0
for i in sri:
    su+=i
    c+=1
    av=su//c
print(av)

20 30 40
30

In [9]:
f_name=input()
lname,fname=f_name.split(" ")[::-1]
print(lname[0],fname,sep=". ")
#print()

srinivas Reddy
R. srinivas

In [ ]:
def prime(lb,ub):
    
    
    a=0
    for i in range(lb,lb+1):
        if lb%i==0:
            a+=1
    if a==1:
        print(lb,"prime")
    else:
        print("not")
    

t = int(input())
for lb in range(t):
    lb,ub=map(int,input().split())
    prime(lb,ub)

In [29]:
s="Pythonprogramming".lower()
a="p"
a=a.lower()
print(s.startswith(a))

True

In [22]:
s="Pyhton programming"
print(s.endswith("gi"))

False

In [37]:
s=input()
d=[]
for i in s:
    
    if i.isdigit():
        d.append(int(i))
        
print(d)

536ghjf
[5, 3, 6]

In [43]:
s="pythonyn"
l=[]
for i in s:
    a=l.append(i)
print(l)

['p', 'y', 't', 'h', 'o', 'n', 'y', 'n']

In [1]:
n1=int(input())
n=int(input())
s=0
for i in range(n1,n+1):
    s+=i
print(s)

13
20
132

In [20]:
def Prime(lb,ub):
    s=0
    c=0
    for i in range(lb,ub+1):
        
        if i>1:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                #print(i)
                s+=i
                c+=1
                avg=s//c
    print(avg)
t=int(input())
for i in range(0,t):
    
    lb=int(input())
    ub=int(input())
    Prime(lb,ub)

2
10
15
12
10
15
12

In [37]:
s=[12,23,4,32,1,32]
s1=[12,213,42,43]
s1=s1[::-1]
for i in s1:
    
    s.insert(1,i)
print(sum(s),max(s),min(s))

414 213 1

In [24]:
l=[23,43,34,54]
l1=[21,32,32,3434]
l.extend(l1)

[23, 43, 34, 54, 21, 32, 32, 3434]

In [5]:

def listss(n):
    
    for i in range(n):
        s=list(map(int,input().split()))
        
        a=0
        co=0
        for i in s:
            a+=int(i)
            co+=1
        print(a//co)
n=int(input())
listss(n)

1
5 5 5 5
5

In [4]:
n=int(input())

for i in range(n):
    s1=list(map(int,input().split()))
    a=0
    
    for s in s1:
        a+=int(s)
        avg=a//len(s1)
    print(avg)

1
12 12 12
12

In [2]:
def b(n):
    s1=int(input())
    for i in range(n):
    
        s=int(input())
        
        if s>=s1:
            print("Y\nE\nS")
        else:
            print('MO')
n=int(input())
b(n)

1
100
2121
Y
E
S

In [2]:
def s():
    while True:
        n=int(input())
        if n==42:
            break
        else:
            print(n)
s()

1
1
23
23
43
43
42

In [9]:
s=[12,21,21,21,33,34]
s1=[1,2,3,4]
s1=s1[::-1]
for i in s1:
    s.insert(0,i)
print(s)

[1, 2, 3, 4, 12, 21, 21, 21, 33, 34]

In [19]:
s=0
for i in range(10,0,-1):
    s+=i
    print(i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [48]:
s="archana"
start,end=list(map(int,input().split()))
v1=s[start-1:end][::-1]
v2=s[end:]
print(v1)
#print(v2)
print(v1+v2)

1 3
<class 'int'>
cra
crahana

In [51]:
s="srinivas"
s1=s.capitalize()
s1

'Srinivas'

In [59]:
a="A P S S D C"
s=a.lower()
#print(s)
s1=s.capitalize()
aaa=s1.replace(" ", "")
print(aaa)

Apssdc

In [86]:
#print maximum length of word
s=input().split()
s1=[]
for i in s:
    s1.append(len(i))
maxlength=max(s1)

for i in s:
    if maxlength==len(i):
        print(i)

sri nivas reddy
nivas
reddy

In [89]:
s=input().split()
s1=[]
for i in s:
    s1.append(len(i))
leng=max(s1)
print(leng)
for i in s:
    if leng==len(i):
        print(i)

fgh ghgh fghj
4
ghgh
fghj

In [72]:
s=input()
s1=s.swapcase()
s2=s1[-1].lower()
s3=s1[:-1]
print(s3+s2)

apssdc
APSSDc

In [83]:
word=input()
count=0
for i in word:
    if i.isupper():
        count+=1
    
print(count)

WelcomeToWorld
3

In [93]:
s=input().split()
length=max(list(map(len,s)))
for i in s:
    if length==len(i):
        print(i)

jhkgh gcjhkjl hfdgnhtmyuik
hfdgnhtmyuik

In [1]:
word=input().split()
c=input()
match=0
for i in word:
    if i.startswith(c):
        print(i)
        match+=1
if match==0:
        print("-1")

srinu sri raju viswanth
v
viswanth

In [27]:
s=input()
s1=s[:-1].swapcase()+s[-1]
print(s1)

 s d f g h h g
 S D F G H H G

In [8]:
#Print all the words which words not ends with vowels(a,e,i,o,u)
word=input().split()
s=("a","e","i","o","u")
for i in word:
    if i.endswith(s):
        pass
    else:
        print(i)

sky try fly srinu sri
sky
try
fly

In [49]:
#Print all the words which word contains duplicate characters
names=(input().split())

for name in names:
    for ch in name:
        if name.count(ch)>1:
            print(name)
            break

sri srinu srinivasa redddy
srinivasa
redddy

In [4]:
s=input().split()

for name in s:
    for ch in name:
        if name.count(ch)>1:
            print(name)
            break

srini sri srinivas
srini
srinivas

In [83]:
n=int(input())
li=[print(n,i,i*n) for i in range(1,n+1)]

5
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25

In [82]:
n=input()
li=[i.upper() for i in n]
print(li)

sri
['S', 'R', 'I']

In [84]:
n=input()
li=[i.lower() for i in n]
print(li)

HKJHLK
['h', 'k', 'j', 'h', 'l', 'k']

In [2]:
#Sum of THREE Digits numbers
n=list(map(int,input().split()))
l=[]
c=0
for i in n:
    if len(str((i)))==3:
        l.append(i)
        c+=1
avg=sum(l)//c
print(avg)

100 200 100 200 33 33 21 3
150

In [14]:
#Find The maximum Reminder in a list

num=list(map(int,input().split()))
li=[]
#print(num)
for i in num:
    if (i)%8==0:
        li.append(i)
#print(li)
print(max(li))

8 88 92 08 67879 68 43 345
[8, 88, 8]
88

In [18]:
s=["23","22","33","43"]
s1=sorted(s)
print(s1)

['22', '23', '33', '43']

In [11]:
l=list(map(int,input().split()))
c=int(input())

print(l[:c][::-1]+l[c:])

1 2 3 4 5 6 7 8 9 10
3
[3, 2, 1, 4, 5, 6, 7, 8, 9, 10]

In [17]:
l=list(map(int,input().split()))
c=int(input())
print((l[:c][::-1]+l[c:]))

4354657687 45768798 465789 54678 456789
2
[45768798, 4354657687, 465789, 54678, 456789]