 # Notebook Basics
 * *srinivas* <br>
 * **Bold**
 * ***IB***
 * IIT NUZIVD
     * VISWANTH
     * REDDY
     
     
 1. Ordered list1<br>
 2. Ordered list item2
 
 
 **JUPYTER**
 <img src="logo.png" style="float:center">
 
 
 I get 10 times more traffic from [Google](http://google.com/ "Google")
than from [Yahoo](http://search.yahoo.com/ "Yahoo Search") or
[MSN](http://search.msn.com/ "MSN Search")

<nivas.apssdc@gmail.com>

`a=input("enter the a value")
b=input("enter the b value")
c=a+b
print("the sum of A and B is",c)`

# Python Basics
##### Python version 3.7

- Scripting 
- Object Oriented
- Functional

In [ ]:
print("the comand", "!", end="| |")
print("hello all")

### Assignment

In [ ]:
n1=123456 #Single variable Assigment
n2=n3=n4=n1 # Multi variable assigment of the same value


a,b,c=123,1243,7887#Multi variable assigment

print(a,b,c)

### Data Types & Conversions
- int
- float
- string
- double

In [5]:
type(34)
s1="Pyhton"

f1=12.2324
type(f1)
float(str(int(f1)))

12.0

### Arthematic Operations 

- +
- -
- *
- /
- %
- **

In [16]:
atoms

82

### Conditionals

In [15]:
if atoms < 10**9:
    print("this condition is true")
else:
    print("this condition is fasle")

this condition is true

In [19]:
#Check if a number is Even or Odd
n=123
if n%2==0:
    print("Even")
else:
    print("Odd")

Odd

In [21]:
#Check the greatest number of 3 numbers

n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=int(input("enter the thrid number"))

if n1>n2 and n1>n3:
    print("n1","is the grestest number")
elif n2>n3:
    print(n2,"is the greatest number")
else:
    print(n3,"is the greatest number")

enter the first number23
enter the second number43
enter the thrid number876
876 is the greatest number

In [5]:
n1=int(input("enter the first number"))
if n1%400==0 or n1%100!=0 and n1%4==0:
    print(n1,"the number is a leap")
else:
    print(n1,"not a leap year")

enter the first number2020
2020 the number is a leap

In [4]:
n1=int(input("enter the first number"))
n2=int(input("enter the second number"))
n3=input("enter the third number"))
if n1>=n2 and n1<=n3:
    print(n1," ")

SyntaxError: invalid syntax (<ipython-input-4-14adc9f0f9e4>, line 3)

In [26]:
#calculate the number of a digits in a number
n1=input("enter the first number")
print(len(n1))

enter the first number23435
5

In [2]:
#Check if a number is a multible of 10

n1=int(input("enter the first number"))
if n1%10==0:
    print(n1,"is multible")
else:
    print(n1," is not multible of 10 ")

enter the first number200
200 is multible

In [ ]:
# Check if a number is a factor of 1000
n1=int(input("enter the first number"))
if 1000%n1==0:
    print(n1,"is multible")
else:
    print(n1," is not multible of 10 ")

In [22]:
#Check if given string is equal to a number
n1=input("enter the string")
s1=423
if str(n1)==s1:
    print(n1," is =",s1)
else:
    print(n1," =!",s1)

enter the stringsri
sri  =! 423

In [20]:
#Calculate the square root of a number without functions
n1=123
s=n1**0.5
print(s)

11.090536506409418

In [17]:
#Calculate the Leap year in nano seconds
year = int(input(" "))
if year%400==0 or (year%100!=0 and year%4==0):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

 2016
31622400000000000